NEXT_PUBLIC_API_URL=http://localhost:8000/api  # Fully qualified URL of the API
NEXT_PUBLIC_USERWAY_ACCOUNT_ID=zzz  # UserWay widget account ID
NEXT_PUBLIC_MICROSOFT_TENANT_ID=00000000-0000-0000-0000-000000000000  # Azure tenant ID
NEXT_PUBLIC_MICROSOFT_CLIENT_ID=00000000-0000-0000-0000-000000000000  # Azure client ID
