SECRET_KEY=zzz  # os.urandom(16).hex()
FRONTEND_URL=https://example.com  # Fully qualified URL of the frontend
S3_STORAGE_URL=https://zzz.r2.cloudflarestorage.com  # URL to the S3 storage host (e.g. Cloudflare or AWS)
S3_BUCKET_NAME=icons  # Name of the S3 bucket (e.g. icons)
S3_CLIENT_ID=zzz  # Access key for S3 storage
S3_CLIENT_SECRET=zzz  # Secret key for S3 storage
DATABASE_URI=postgresql://postgres:postgres@localhost/postgres # Postgres DSN for the database
MICROSOFT_TENANT_ID=00000000-0000-0000-0000-000000000000  # Azure tenant ID
MICROSOFT_CLIENT_ID=00000000-0000-0000-0000-000000000000  # Azure client ID
MICROSOFT_CLIENT_SECRET=00000000-0000-0000-0000-000000000000  # Azure client secret
